services:
  admin:
    build:
      context: ../..
      dockerfile: infra/admin/Dockerfile
    container_name: chon_admin_panel
    restart: always
    ports:
      - "8080:80"
    environment:
      APP_NAME: "CHON Admin"
      APP_ENV: production
      APP_KEY: ${ADMIN_APP_KEY}
      APP_DEBUG: false
      APP_URL: http://admin.chonapp.net
      
      DB_CONNECTION: pgsql
      DB_HOST: chon_postgres_prod
      DB_PORT: 5432
      DB_DATABASE: chon_production
      DB_USERNAME: chon_prod_user
      DB_PASSWORD: B5aeU9p62I3VsSvpVlgozG04QkFgUQdQvHDmg4Bsrcc=
      
      # Use same Redis as main app
      CACHE_DRIVER: redis
      QUEUE_CONNECTION: redis
      SESSION_DRIVER: redis
      
      REDIS_HOST: chon_redis_prod
      REDIS_PASSWORD: null
      REDIS_PORT: 6379
      
      # API connection
      CHON_API_URL: http://chon_api_prod:3000
      CHON_API_KEY: ${ADMIN_API_KEY}
      
    networks:
      - chon_network
    volumes:
      - admin_storage:/var/www/html/storage/app
      - admin_logs:/var/www/html/storage/logs

networks:
  chon_network:
    external: true
    name: chon_prod_network

volumes:
  admin_storage:
    name: chon_admin_storage
  admin_logs:
    name: chon_admin_logs
